<div class="row">
  <div class="col-sm-8 blog-main">
    <% @blogs.reverse.each do |blog| %>
      <div>
        <h2><%= link_to blog.title, blog %></h2>
        <p>
          <%= blog.created_at.strftime("%d %b. %Y") %>
        </p>
        <%= image_tag(blog.picture_url, :class => "image media-object") if blog.picture.present? %>
        <%= simple_format(blog.content) %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <div>
      <%= link_to 'New Blog', new_blog_path, class: 'btn btn-default pull-right' %>
    </div>
  </div>
</div>